{{extend 'layout.html'}}

<div class="url-form">
  {{=form}}
</div>
{{if short_link:}}
    <div class="short-url">
        <div class="alert alert-success" role="alert">
            <span>{{=short_link}}</span>
            <button type="button" class="btn btn-default btn-xs copy-button" title="Copy to Clipboard">Copy</button>
        </div>
    </div>
{{elif form.errors:}}
    <div class="error-message">
        <div class="alert alert-danger alert-dismissible" role="alert">
          <strong>Error!</strong> {{=form.errors['long_url']}}.
            <button type="button" class="close-error-message" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    </div>
{{pass}}

{{=grid}}

<script type="text/javascript">
    $(document).ready(function() {
        $("body").tooltip({ selector: 'button, a' });

        $('.copy-button').on('click', function()
        {
            copyToClipboard($(this));
        });

        $('.close-error-message').on('click', function()
        {
            $('.error-message').remove();
        });

    });

    function copyToClipboard(thisObj) {
        // http://codepen.io/nathanlong/pen/ZpAmjv
        var original_tooltip = thisObj.attr('data-original-title');
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val(thisObj.parent().find('span').text()).select();
        try
        {
            var success = document.execCommand("copy");
            if (success) {
                thisObj.attr('data-original-title', 'Copied!').tooltip('show');
            } else {
                thisObj.attr('data-original-title', 'Copy with Ctrl-c').tooltip('show');
            }
            $temp.remove();
        }
        catch (err)
        {
            thisObj.attr('data-original-title', 'Copy with Ctrl-c').tooltip('show');
            $temp.remove();
        }
        
        setTimeout(function() {
            $('button').tooltip('hide');
        }, 2000);
        thisObj.attr('data-original-title', original_tooltip);

    }
</script>