*.pyc
*.swp
*_bak*
uploads/
languages/
databases/
scripts/suhail/
scripts/gaurav/
sessions/
cache/
errors/
private/
parameters_*
*.log
static/img
scripts/input.csv
static/css/bootstrap.min.css
static/tmp
scripts/For_Master_Data
scripts/devops
modules/suhail
reset_password_of_all_users.py
scripts/get_user_info.py
*_temp.py
