.main-container{
    margin-left: 3%;
    margin-right: 3%;
}

.url-form input {
/*    resize: none;*/
    height: 60px;
/*    overflow: hidden;*/
    width: 60%;
    border-radius: 3px 0 0 3px;
}

.url-form .btn.btn-primary
{
    vertical-align: top;
    height: 60px;
    width: 10%;
    min-width: 85px;
    border-radius: 0 3px 3px 0;
    background-color: #2c3e50;
    border-color: #2c3e50;

}

.url-form  * {
    display: inline;
}

.url-form{
    padding: 30px 0 30px 0;
    text-align: center;
    min-width: 250px;
}

.url_grid table tbody tr{
    border-bottom: 1px solid #dfd7ca;
}

.url_grid table thead th:first-child{
    border-radius: 3px 0 0 0;
}

.url_grid table thead th:last-child{
    border-radius: 0 3px 0 0;
    width: 5%;
}

.url_grid .web2py_table, .url_grid .web2py_paginator{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
}

.url_grid .web2py_table{
    margin: 0 0 10px 0;
}

.url_grid tr td:last-child a.btn-default{
    color: #0a0a0a;
    background-color: transparent;
}

.url_grid .row_buttons a{
    border: none;
    padding: 6px 8px 6px 8px;
}

.footer{
    background: white;
}


#qr_code_modal .modal-body table td{
    border: none;
    height: 5px;
    width: 5px;
}
#qr_code_modal .modal-body table{
    margin: 0 auto;
}
#qr_code_modal .modal-body table td.black{
    background-color: black;
}

#qr_code_modal .modal-body table td.white{
    background-color: white;
}

/* resize modal dynamically based on content*/
#qr_code_modal .modal-dialog{
    position: relative;
    display: table; //This is important
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 300px;
}

/* match modal footer height with header*/

.modal-footer {
    padding: 15px;
}
.modal-footer .btn{
    padding: 5px 15px;
}

.short-url, .error-message{
    margin: 0 auto;
    text-align: center;
    padding: 10px 0 45px 0;
    min-width: 250px;
}
.short-url:blank, .error-message:blank{
    padding: 0;
}
.error-message .alert-dismissible{
    padding-right: 0;
}
.error-message .btn-default:hover{
/*    color: black;*/
    opacity: 1;
    background-color: transparent;
    border-color: transparent;
}
.error-message button{
    opacity: 0.4;
    font-size: 22.5px;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 3px 0px;
    color: white;
    background-color: transparent;
    border-color: transparent;
}

.short-url .alert-success.alert, .error-message .alert-warning.alert{
    display: inline;
}

.copy-button{
    margin: 0 0 3px 5px;
}

.url_grid table tr td .copy-button { visibility: hidden;}
.url_grid table tr td:first-child{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    max-width:30px;
    width: 30%;
    min-width: 20px;
}
.url_grid table tr:hover td .copy-button { visibility:visible;}

.alert-success {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

/* flash message*/
div.w2p_flash.alert{
    right: 10px;
}

.app-logo{
  height: 30px;
}

thead th a{
    color: #3498db;
    word-spacing: 2px;
}

thead th a:hover{
    color: #2976a9;
}